:root {
  /* color: var(--main-color) */
  --text-color-black: #000;
  --text-color-blue: #2196F3;
  --text-color-white: #FFF;
  --socials-opacity: rgba(255, 255, 255, 0.1);
}

body {
  height: 100%;
}

img {
  vertical-align: 0;
}

* a {
  text-decoration: none;
}

* ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hedaer {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}

/* ========== Navigation======== */



.nav {
  height: 80px;
  display: flex;
  text-align: center;
}

.nav__place {
  display: flex;
}

.logo {
  margin: 24px 93px 25px 0;
  display: flex;
  align-items: center;

  color: var(--text-color-blue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  cursor: pointer;
}

.logoblack {
  color: var(--text-color-black);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav__list {
  display: inline-block;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 32px 0 32px 0;
  margin-right: 387px;


}

.nav__list-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  border-radius: 0 8px 8px 0;
  bottom: -150%;
  left: 50%;
  transition: 0.5s;
  background-color: var(--text-color-blue);
  margin: 0;
  padding: 0;
}

.nav__list-link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  border-radius: 8px 0 0 8px;
  bottom: -150%;
  left: 50%;
  transition: 0.5s;
  background-color: var(--text-color-blue);
  transform: translatex(-100%);
  margin: 0;
  padding: 0;
}


.nav__list-link:hover::after {
  width: 50%;
}

.nav__list-link:hover::before {
  width: 50%;
}

.nav__contact {
  display: inline-block;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  padding: 0;
  margin: 32px 0 32px 0;
}

.nav__list-item {
  margin-right: 50px;
  position: relative;
}

.nav__contact-item {
  padding-right: 50px;
}

.nav__contact-link {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav__list-link {
  color: var(--text-color-black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav__list-item:last-child {
  padding-right: 0;
}

.nav__contact-item:last-child {
  padding-right: 0;
}

.nav__contact-link,
.nav__list-link {
  text-decoration: none;
  cursor: pointer;
}

.nav__list-link:hover {
  color: var(--text-color-blue);
}

.nav__contact-link:hover {
  color: var(--text-color-blue);
}

/* ======== Ефективні рішення===== */

.buisnes__sector {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../image/teamall.png");
  background-size: cover;

}

.buisnes_cont:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all .4s linear 0s;
}

.buisnes__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.buisnes__h1 {
  color: var(--text-color-white);
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;

  height: 120px;
  width: 696px;
  margin: 200px 452px 30px 536px;

  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buisnes__button-link {
  color: var(--text-color-white);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;

  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  flex-shrink: 0;
  border-radius: 4px;
  height: 50px;
  width: 216px;
  margin: 0 692px 200px 777px;
  padding: 10px 28px;

  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
}

/* ========Наші переваги======== */
.perevagi__section {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.perevagi {
  margin: 0;
  padding: 0;
  margin-top: 94px;
  height: 98px;

  display: inline-block;
  display: flex;
  align-items: center;
}

.perevagi-pic {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
}

.perevagi__list {
  display: flex;
  align-items: start;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.perevagi__list-item {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.perevagi__list-item:last-child {
  margin-right: 0;
}

.perevagi__h4 {
  color: var(--text-color-black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  margin: 0 0 10px 0;
}

.perevagi__par {
  color: #757575;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;

  margin: 0;
}

/* ======Чим ми займаємось======= */
.chemzanyati__sector {
  width: 1600px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.chemzanyati {
  margin: 0;
  padding: 0;
  margin-top: 94px;
}

.chemzanyati__h1 {
  color: var(--text-color-black);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin: 0;
  padding: 0;
  margin-bottom: 50px;

}

.chemzanyati__foto {
  display: flex;
  align-items: center;
  align-items: center;
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  margin-bottom: 94px;
  margin: 0;
  padding: 0;
}

.chemzanyati__foto-item {
  padding-right: 45px;
}

.chemzanyati__foto-item:last-child {
  padding-right: 0;
}

/* =========Наша команда======= */
.team__section {
  width: 1600px;
  height: 648px;
  background-color: #F5F4FA;
  margin-left: auto;
  margin-right: auto;
}

.team {
  margin: 0;
  padding: 0;

}

.team__h1 {
  color: var(--text-color-black);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin: 0;
  padding: 0;
  margin-top: 94px;

}

.teamlist {
  margin: 0;
  padding: 0;

}

.team__list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 50px 40px 94px 0;
  border: none;
}

.team__list-item:last-child {
  margin-right: 0;
}

.team__name {
  color: var(--text-color-black);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
}

.team__job {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin: 10px 0 30px 0;
}

.team__social-list {
  display: flex;
}

.team__social-item {
  margin-top: 16px;
  margin-right: 10px;
  margin-bottom: 30px;
  height: 44px;
  width: 44px;
}

.team__social-item:nth-child(1) {
  margin-left: 32px;
}

.team__social-item:nth-child(4) {
  margin-right: 32px;
}

.team__social-item:hover {
  background-color: var(--text-color-blue);
  border-radius: 50%;
}

.team__social-pic {
  height: 20px;
  width: 20px;
  fill: currentColor;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.team__link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #AFB1B8;
  border-radius: 50%;

  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover,
.team__link:focus {
  background-color: #2196F3;
  color: #FFF;
}

/* ===========clients====== */
.clients {
  margin: 0;
  padding: 0;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__item {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.clients-pic {
  fill: currentColor;
}

.clients-pic-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;

  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-pic-link:hover,
.clients__item:hover,
.clients-pic-link:focus {
  border-color: var(--text-color-blue);
  color: var(--text-color-blue);
  fill: var(--text-color-blue);
}

.clients__h2 {
  color: var(--text-color-black);

  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

/* ========= footer ====== */
.footer {
  width: 1600px;
  height: 252px;
  background-color: rgba(47, 48, 58, 1);
  margin-left: auto;
  margin-right: auto;
}

.footer__div {
  display: flex;
}

.footer__logolist {
  display: flex;
  flex-direction: column;
}

.logowhite {
  color: var(--text-color-white);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo__footer {
  display: flex;
  align-items: center;

  margin: 0;
  padding-bottom: 20px;
  padding-top: 60px;
  color: var(--text-color-blue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  cursor: pointer;
}

.footer__list {
  display: inline-block;
  margin-bottom: 9px;
}

.footer__list:last-child {
  margin: 0;
}

.footer__item-link {
  color: rgba(255, 255, 255, 0.60);

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer__item-adres {
  color: var(--text-color-white);

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer__item-link:hover {
  color: rgba(33, 150, 243, 1);
}

.footer__social {
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.footer__social-text {
  color: var(--text-color-white);

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 22px;
  margin-left: 10px;
}

.linkfootersocial {
  color: var(--text-color-white);
}

/* ======== portfolio==== */
.line {
  height: 1px;
  background: #ECECEC;
}

.logo__portfolio {
  margin: 24px 93px 25px 0;
  display: flex;
  align-items: center;
  color: #2196F3;

  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logoblack__portfolio {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

/* == porfolio buttons== */
.portfolio__buttons-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 94px;
}

.portfolio__buttons-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  background-color: #F5F4FA;
  margin-right: 8px;
}

.portfolio__buttons-item:last-child {
  margin-right: 0;
}

.portfolio__buttons-item:nth-child(1) {
  width: 73px;
  height: 38px;
}

.portfolio__buttons-item:nth-child(2) {
  width: 125px;
  height: 38px;
}

.portfolio__buttons-item:nth-child(3) {
  width: 112px;
  height: 38px;
}

.portfolio__buttons-item:nth-child(4) {
  width: 103px;
  height: 38px;
}

.portfolio__buttons-item:nth-child(5) {
  width: 130px;
  height: 38px;
}

.portfolio__buttons-link {
  color: var(--text-color-black);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  background-color: #F5F4FA;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}

.portfolio__buttons-item,
.portfolio__buttons-link:hover {
  color: #fff;
  background: rgba(33, 150, 243, 1);
  transition: 0.3s ease;
}

.portfolio__buttons-item:focus {
  background: rgba(33, 150, 243, 1);
}

.portfolio__buttons-item:active {
  color: rgba(255, 255, 255, 1)
}

/* ==== portfolio image== */
.portfolio__image {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 94px;
  background-size: cover;
}

.portfolio__image-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.porfolio__overley-place {
  position: relative;
  overflow: hidden;
  max-height: 294px;
}

.portfolio__overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1%;
  left: 0;
  text-align: center;
  transform: translatey(100%);
  transition: 250ms ease;
  background: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;


  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}


.porfolio__overley-place:hover .portfolio__overley {
  transform: translatey(-1%);
}

.portfolio__image-item:hover {
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio__image-name,
.portfolio__image-name2 {
  margin-left: 24px;
  margin-right: 24px;
}

.portfolio__image-name {
  color: var(--text-color-black);

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  height: 36px;
  margin-top: 20px;
}

.portfolio__image-name2 {
  color: #757575;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  height: 30px;
  margin-bottom: 20px;
}