:root {
  /* color: var(--main-color) */
  --text-color-black: #000;
  --text-color-blue: #2196F3;
  --text-color-white: #FFF;
}


* a {
  text-decoration: none;
}

* ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hedaer {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}

/* ========== Navigation======== */



.nav {
  height: 80px;
  display: flex;
  text-align: center;
}

.logo {
  margin: 24px 93px 25px 0;
  display: flex;
  align-items: center;

  color: var(--text-color-blue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  cursor: pointer;
}

.logoblack {
  color: var(--text-color-black);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.nav__list {
  display: inline-block;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 32px 0 32px 0;
  margin-right: 387px;
}

.nav__contact {
  display: inline-block;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  padding: 0;
  margin: 32px 0 32px 0;

}

.nav__list-item {
  padding-right: 50px;
}

.nav__contact-item {
  padding-right: 50px;
}

.nav__contact-link {
  color: var(--text-color-black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav__list-link {
  color: var(--text-color-black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav__list-item:last-child {
  padding-right: 0;
}

.nav__contact-item:last-child {
  padding-right: 0;
}

.nav__contact-link,
.nav__list-link {
  text-decoration: none;
  cursor: pointer;
}

.nav__list-link:hover {
  color: var(--text-color-blue);
}

.nav__contact-link:hover {
  color: var(--text-color-blue);
}

/* ======== Ефективні рішення===== */

.buisnes__sector {
  width: 1600px;
  height: 600px;
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
}

.buisnes__div {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

.buisnes__h1 {
  color: var(--text-color-white);
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;

  height: 120px;
  width: 696px;
  margin: 200px 452px 30px 236px;

  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buisnes__button-link {
  color: var(--text-color-white);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;

  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  flex-shrink: 0;
  border-radius: 4px;
  height: 50px;
  width: 216px;
  margin: 0 692px 200px 477px;
  padding: 10px 28px;

  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
}

/* ========Наші переваги======== */
.perevagi__section {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.perevagi {
  margin: 0;
  padding: 0;
  margin-top: 94px;
  height: 98px;

  display: inline-block;
  display: flex;
  align-items: center;
}

.perevagi__list {
  display: flex;
  align-items: start;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.perevagi__list-item {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.perevagi__list-item:last-child {
  margin-right: 0;
}

.perevagi__h4 {
  color: var(--text-color-black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  margin: 0 0 10px 0;
}

.perevagi__par {
  color: #757575;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;

  margin: 0;
}

/* ======Чим ми займаємось======= */
.chemzanyati__sector {
  width: 1600px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.chemzanyati {
  margin: 0;
  padding: 0;
  margin-top: 94px;
}

.chemzanyati__h1 {
  color: var(--text-color-black);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.chemzanyati__foto {
  display: flex;
  align-items: center;
  align-items: center;
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  margin-bottom: 94px;
  margin: 0;
  padding: 0;
}

.chemzanyati__foto-item {
  padding-right: 45px;
}

.chemzanyati__foto-item:last-child {
  padding-right: 0;
}

/* =========Наша команда======= */
.team__section {
  width: 1600px;
  height: 648px;
  background-color: #F5F4FA;
  margin-left: auto;
  margin-right: auto;
}

.team {
  margin: 0;
  padding: 0;

}

.team__h1 {
  color: var(--text-color-black);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin: 0;
  padding: 0;
  margin-top: 94px;

}

.teamlist {
  margin: 0;
  padding: 0;

}

.team__list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 50px 40px 94px 0;
  border: none;
}

.team__list-item:last-child {
  margin-right: 0;
}

.team__name {
  color: var(--text-color-black);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
}

.team__job {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin: 10px 0 30px 0;
}

/* ========= footer ====== */
.footer {
  width: 1600px;
  height: 252px;
  background-color: rgba(47, 48, 58, 1);
  margin-left: auto;
  margin-right: auto;
}

.logowhite {
  color: var(--text-color-white);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo__footer {
  display: flex;
  align-items: center;

  margin: 0;
  margin-bottom: 20px;
  padding-top: 60px;
  color: var(--text-color-blue);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  cursor: pointer;
}

.footer__list {
  display: inline-block;
  margin-bottom: 9px;
}

.footer__list:last-child {
  margin: 0;
}

.footer__item-link {
  color: rgba(255, 255, 255, 0.60);

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer__item-adres {
  color: var(--text-color-white);

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer__item-link:hover {
  color: rgba(33, 150, 243, 1);
}